body {

    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 800;
    align-items: center;

    background: linear-gradient(#0A1D3B, #253D63);

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background: #A80F1D;
        width: 90%;
        position: sticky;


        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                width: 30px;
                margin-bottom: 15px;
            }
        }
    }

}